[Unit]
Description=Guard - Sistema de Control de Acceso LPR
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/ngarciam/guard
ExecStart=/usr/bin/python3 /home/ngarciam/guard/main.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
